.destinations .item header{
    display: block;
    position: static;
    background-color: transparent;   
    padding: 0;

}

.destination-items .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
}

.item .img-item{
    width: 312px;
    height: 360px;
    
}
.destinations  header h4{
    font-size: 28px;
    font-weight: var(--title-weight);    ;
    margin: 24px 0;

}

.destination-items .item p{
    width: 312px;
    height: 224px;
    font-weight: var(--text-weight);
    line-height: 32px;

}

.destination-items .item footer{
    padding-bottom: 24px;
    align-items: center;
}

.destination .button{
    width: 100%;
    margin: 24px;    
}
.item .tokyo{
    background: url(/img/tokyo-mobile.jpg) center no-repeat ;
    background-size: contain;

} 

.item .osaka{
    background: url(/img/osaka-mobile.jpg) center no-repeat;
    background-size: contain;

}

.item p{
    font-size: 20px;
    font-weight: var(--text-weight);
}

@media screen and ( min-width: 768px ){ 
    
    
    .item .img-item{
        width: 648px;
    
    }
    .destination-items .item .tokyo{
        background: url(/img/tokyo-tablet.jpg) center no-repeat ;
    
    } 

    .destination-items .item .osaka{
        background: url(/img/osaka-tablet.jpg) center no-repeat;
    }

    .destination-items .item p{
        width: 648px;
        height: 96px;
        margin-bottom: 24px;

    }
    .destination-items .item footer {
        align-self: flex-start; 
        padding-left: 8%;
    }
}

@media screen and ( min-width: 1024px ) {
    .destination-items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        padding: 0 auto;
    }
    .destination-items .item {
        width: 400px;
        align-items: flex-start;
    }

    .item .img-item{
        width: 400px;        
    }

    .destination-items .item p {
        width: 100%;               /* O parágrafo segue a largura do card */
        height: 50%;              /* Altura automática para não cortar texto */
    }

    .destination-items .item footer {
        padding-left: 0;           /* Remove o padding grande que você usou no tablet */
    }
}