.destinations .item header{
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
    margin-bottom: 24px;
    

}

.item p{
    font-size: 20px;
    font-weight: var(--text-weight);
}