.main-footer {  
  background-color: var(--background-tertiary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 34px;
  box-sizing: border-box;
  gap: 32px;
}

.main-footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.main-footer .footer-content img{
    width: 161px;
    height: 40px;
}

.main-footer p{    
    font-size: 16px;
    text-align: center;
    font-weight: var(--text-weight);
    line-height: 28px;
    color: var(--text-secondary-color);
}

.main-footer .footer-social{    
    text-align: center;
    gap: 16px;
    
}


.main-footer .footer-social img{
    width: 32px;
    height: 32px;
    align-items: center;
    margin-top: 16px;
   
}

@media screen and (min-width: 1024px) {
    .main-footer {
        flex-direction: row; /* Mudou de column para row */
        justify-content: space-between;
        align-items: flex-start;
        padding: 32px 120px;
    }
    .main-footer .footer-content{
        align-items:flex-start ;
        gap: 16px;
    }
    .main-footer .footer-social{  
        font-size: 16px;             
        gap: 16px;
    
    }
    
}


