@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: "montserrat";
  color: var(--text-primary-color);
}

.section{
  width: 312px;
  margin: 0 auto;
}

.section.hero{
  width: 100%;
}


.section-title {
  width: 280px;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
 
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px ;

}



.hero-title h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
  margin: 0; 
}

.hero-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px ;

}

.hero-title p{
  width: 312px;
  height: 160px;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: var(--text-secondary-color);

}



.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 24px;

}
.content-texto{
  font-size: 0 0 24px 0;
  font-weight: var(--text-weight);
  line-height: 32px;
}


.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  text-align: center;


}
@media screen and (min-width: 768px) {
  
  .section-title{
  width: 100%;
  
}
  
  .section-title h2 {
    font-size: 32px;
  }
  
  .section{
  width: 648px;
  margin: 0 auto;
 }

 .hero-title h1{
  line-height: 100%;
 }

 .hero-title p{
    width: 100%;
    height: 192px;
    font-size: 32px;
    line-height: 150%;       

  }




}

@media screen and (min-width: 1024px) {
  .button:hover{
    background-color: var(--primary-color);
  }
  
  .section{
  width: 900px;
}

  

  .hero-title p{
    width: 579px;
    height: 192px;
    font-size: 32px;
}


}


@media screen and (min-width: 1440px) { 
  
  .section{
  width: 1200px;
}

.hero-title p{
  width: 579px;
  height: 192px;
}


}


