


.hero-destination{
    padding: 40px 24px;
    width: 100%;
    height: 460px;
    background: url('../img/hero-destination.jpg') center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}





.hero-img-destination{
   
}

.botton-hero .hero-img{
    height: 400px;
    width: 100%;
    background: url('../img/footer-img-mobile.jpg') center no-repeat;
    background-size: cover;
    margin-top: 88px;
}


.hero h2{
   padding: 88px 60px;
   margin: 0px;
   font-weight: var(--text-weight);
   font-size: 32px;
   text-align: center;
   line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-destination{
        height: 620px;
        background: url('/img/hero-destination.jpg')  center no-repeat;
        background-size: cover;
        padding: 209px 69px 107px 120px ;
    }
    
    

    
}

@media screen and (min-width: 1024px) {
    .hero-destination{
        height: 620px;
        padding: 150px 69px 90px 100px ;

        

    }
    
    


}   

@media screen and (min-width: 1920px) {
    
    
}   