.hero-img{
    height: 400px;
    width: 100%;
    background: url('../img/hero-mobile.jpg') center no-repeat;
    background-size: cover;
}

.botton-hero .hero-img{
    height: 400px;
    width: 100%;
    background: url('../img/footer-img-mobile.jpg') center no-repeat;
    background-size: cover;
    margin-top: 88px;
}


.hero h2{
   padding: 88px 60px;
   margin: 0px;
   font-weight: var(--text-weight);
   font-size: 32px;
   text-align: center;
   line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        background: url('../img/hero-tablet.jpg')  center no-repeat;
        background-size: cover;
    }

    .hero h2{
    padding: 88px 24px; 
    }
    .botton-hero .hero-img{
    height: 400px;
    background: url('../img/footer-img-tablet.jpg') center no-repeat;
    background-size: cover;
    }

    
}

@media screen and (min-width: 1024px) {
    .hero-img{
        height: 720px;
        background: url('../img/hero-desktop.jpg') center no-repeat;
        background-size: cover;
    }
    .hero h2{
    padding: 88px 120px;    

    }

    .botton-hero .hero-img{
    height: 600px;
    background: url('../img/footer-img-desktop.jpg') center no-repeat;
    background-size: cover;
    }


}   

@media screen and (min-width: 1920px) {
    
    .hero h2{
    padding: 88px 160px;    

    }
}   