section {
  margin: 0 0 88px 0;
}

.destination-payments .content-conteiner .text-contet {
  margin: 0 13% 0 13%;
  gap: 24px;
}

.destination-payments .text-contet .content-title {
  font-size: 40px;
  margin-bottom: 16px;
}

.destination-payments .text-contet .content-title-sub {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.destination-payments .text-contet .content-texto {
  line-height: 32px;
  width: 312px;
}

.destination-payments .text-contet footer {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.destination-payments .image-content-pacotes {
  display: grid;
  height: 460px;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  box-sizing: border-box;
}

.destination-payments .image-content-pacotes .colspan-2 {
  grid-column: span 2;
}

.destination-payments .image-content-pacotes .templo {
  background: url(/img/pacotes-templo-japao-mobile.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 254px;
}

.destination-payments .image-content-pacotes .torre {
  background: url(/img/pacotes-torre-japao-mobile.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 254px;
}

.destination-payments .image-content-pacotes .monge {
  background: url(/img/pacotes-monge-japao-mobile.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 254px;
}

@media screen and (min-width: 768px) {
  .destination-payments .text-contet .content-texto {
    width: 100%;
  }
  .destination-payments .text-contet footer {
    display: flex;
    justify-content: flex-start;
    padding: 24px 0;
  }
  .destination-payments .image-content-pacotes {
    display: grid;
    width: 100%;
    height: 460px;
    grid-template-columns: 1fr 1fr;
  }

  .destination-payments .image-content-pacotes .templo {
    background: url(/img/pacotes-templo-jpao-tablet.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
  }

  .destination-payments .image-content-pacotes .torre {
    background: url(/img/pacotes-torre-japao-tablet.png) center no-repeat;
    background-size: cover;
  }

  .destination-payments .image-content-pacotes .monge {
    background: url(/img/pacotes-monge-japao-tablet.jpg) center no-repeat;
    background-size: cover;
    height: 182px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    margin: 0 0 104px 0;
  }
  .destination-payments .content-conteiner-pacotes {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .destination-payments .content-conteiner-pacotes .text-content {
    width: 360px;
  }
  .destination-payments .content-conteiner-pacotes .image-content {
    width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    margin: 0 0 104px 0;
  }


  .destination-payments .content-conteiner-pacotes {
    width: 1200;
    height: 583px;
    
  }
  
}

@media screen and (min-width: 1440px) {
  .destination-payments .content-conteiner-pacotes {
    width: 1200;
    
  }
  
}
