




















.destination-excursao .image-content-pacotes{
    display: grid;
    height: 460px;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    box-sizing: border-box;

}

.destination-excursao .image-content-pacotes .colspan-2{
    grid-column: span 2;
}


.destination-excursao .image-content-pacotes .templo{
    background: url(/img/pacotes-templo-japao-mobile.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 254px ;
}

.destination-excursao .image-content-pacotes .torre{
    background: url(/img/pacotes-torre-japao-mobile.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 254px ;
}

.destination-excursao .image-content-pacotes .monge{
    background: url(/img/pacotes-monge-japao-mobile.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 254px ;
}


@media screen and (min-width: 768px ) {
    .destination-excursao .image-content-pacotes{
    display: grid;
    width: 100%;
    height: 460px;
    grid-template-columns: 1fr 1fr;

}

    .destination-excursao .image-content-pacotes .templo{
    background: url(/img/pacotes-templo-jpao-tablet.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

.destination-excursao .image-content-pacotes .torre{
    background: url(/img/pacotes-torre-japao-tablet.png) center no-repeat;
    background-size: cover;
    
}

.destination-excursao .image-content-pacotes .monge{
    background: url(/img/pacotes-monge-japao-tablet.jpg) center no-repeat;
    background-size: cover;
    height: 182px ;
}
    

}