.search{
        margin-top: 104px;
        margin-bottom: 104px;
    }


.search .section-title {
    width: 312px;
    margin: 0 auto;
}

.search-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}



.search-card {
    
    display: flex;
    background-color: var(--background-secondary-color);
    position: static;   
    border-radius: 8px;
    
}



.search-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 220px;
    
    
}

.search-button .seach-icon {
    margin: 41px 116px 0 116px; 
    
}


.search-button h4 {
    color: var(--text-primary-color);
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px 16px 41px 16px;
    text-align: center;
    
}

@media  screen and ( min-width: 768px ) {
    .search{
      margin-top: 64px;
      margin-bottom: 88px;
    }
    .search-cards{
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
}

.search .section-title {
    width: 100%;
}




@media screen and ( min-width: 1024px) {
    .search{
        margin-top: 104px;
        margin-bottom: 104px;
    }

    .search-cards {       
      flex-direction: row;
        
    }
    
    .search-card{
         width: 281px;
         height: 220px;

    }
   
   

}


@media screen and ( min-width: 1920px) {
    .search{
        margin-top: 104px;
        margin-bottom: 104px;
    }
    .search-cards {       
        align-items: center;
        justify-content: center;
    }
    .search-button{
        width: 281px;
        height: 220px;
    }

}

@media  screen and ( min-width: 1440px ) {
    .search-cards{
      margin-top: 104px;
      margin-bottom: 104px;
        
    }
}