.testemonial-conteiner{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 64px;
}

.testemonial-conteiner article header p{
    font-size: 16px;
    line-height: 28px;
}

.testemonial-conteiner footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
}




.testemonial-conteiner footer img{
    width: 86px;
    height: 86px;


}
    

.testemonial-conteiner article footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testemonial-conteiner article footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;

}




@media screen and (min-width: 1440px) {
    .testemonial-conteiner{
    flex-direction: row;
    
}
    
}